{% extends 'business/base.html' %}
{% load static %}
{% block content %}
<div class="vertical-nav text-dark bg-white" id="sidebar">
    <div class="py-4 px-3 mb-4 bg-light">
        <div class="media d-flex align-items-center">
            <a class="navbar-brand h1" href="{{ home }}">FastAF</a>
        </div>
    </div>
    <p class="text-muted font-weight-bold text-uppercase px-3 small pb-4 mb-0">dashboard</p>
    <ul class="nav flex-column mb-0">
        <li class="nav-item">
            <a href="{{ index }}"
                class="nav-link {% if request.path == index %}active text-light bg-secondary{% else %}text-dark{% endif %}">
                Home
            </a>
        </li>
        <li class="nav-item">
            <a href="{{ total_delivery }}"
                class="nav-link {% if request.path == total_delivery %}active text-light bg-secondary{% else %}text-dark{% endif %}">Total
                delivery</a>
        </li>
        <li class="nav-item">
            <a href="{{ pending_delivery }}"
                class="nav-link {% if request.path == pending_delivery %}active text-light bg-secondary{% else %}text-dark{% endif %}">pending
                delivery</a>
        </li>
        <li class="nav-item">
            <a href="{{ pending_requests }}"
                class="nav-link {% if request.path == pending_requests %}active text-light bg-secondary{% else %}text-dark{% endif %}">pending
                requests</a>
        </li>
    </ul>
    <p class="text-muted font-weight-bold text-uppercase px-3 small py-4 mb-0">costumer</p>
    <ul class="nav flex-column mb-0">
        <li class="nav-item">
            <a href="{{ search }}"
                class="nav-link {% if request.path == search %}active text-light bg-secondary{% else %}text-dark{% endif %}">Search</a>
        </li>
        <li class="nav-item">
            <a href="{{ chat }}"
                class="nav-link {% if request.path == chat %}active text-light bg-secondary{% else %}text-dark{% endif %}">Chat</a>
        </li>
    </ul>
</div>
<div class="content" id="content">
    <div class="header bg-dark">
        <button id="sliderCollapse" class="btn btn-white"><i class="fa fa-bars mr-2"></i></button>
    </div>
    {% if request.path == total_delivery %}{% include 'business/total_delivery.html' %}
    {% elif page == "order_detail" %}{% include 'business/order_detail.html' %}
    {% elif request.path == pending_delivery %}{% include 'business/pending_delivery.html' %}
    {% elif request.path == pending_requests %}{% include 'business/pending_requests.html' %}
    {% elif request.path == business_search %}{% include 'business/search.html' %}
    {% elif request.path == business_chat %}{% include 'business/chat.html' %}
    {% else %}
    <div class="row p-4">
        <div class="col-lg-4 p-5">
            <div class="card">
                <div class="card-header">
                    Total Delivery
                </div>
                <div class="card-body">
                    <div class="card-title">
                        {{ data.total_delivery }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 p-5">
            <div class="card">
                <div class="card-header">
                    Pending Delivery
                </div>
                <div class="card-body">
                    <div class="card-title">
                        {{ data.pending_delivery }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 p-5">
            <div class="card">
                <div class="card-header">
                    Pending Requests
                </div>
                <div class="card-body">
                    <div class="card-title">
                        {{ data.pending_requests }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

</div>
{% endblock %}