{% load static %}
{% url 'index' as index %}
{% url 'home' as home%}
{% url 'about-us' as about_us%}
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {% block head %}{% endblock %}
</head>
<body>
<div class="flex-wrapper">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
    <div class="container-fluid">
        <a class="navbar-brand h3 p-2 px-5" href="{{ home }}">Custom Delivery</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav_content" aria-controls="nav_content" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse px-5" id="nav_content">
        <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
        <li class="nav-item ml-2" id="home">
            <a href="{{ index }}" class="nav-link {% if request.path == index %}active{%endif%}">Home</a>
        </li>
            {% else %}
        <li class="nav-item ml-2" id="home">
            <a href="{{ home }}" class="nav-link {% if request.path == home %}active{% endif %}">Home</a>
        </li>
            {% endif %}
        <li class="nav-item ml-2" id="contact">
            <a href="{{ about_us }}" class="nav-link {% if request.path == about_us %}active{% endif %}">About Us</a>
        </li>
            {% if user.is_authenticated %}
        <li class="nav-item ml-2">
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button class="btn btn-danger">Logout</button>
            </form>
        </li>
            {% else %}
        <li class="nav-item ml-2">
            <a href="{% url 'login'%}"><button class="btn btn-md btn-danger" >Login/Register</button></a>
        </li>
            {% endif %}
    </ul>
    </div>
    </div>
</nav>
{% block content %}
{% endblock %}
<footer class="footer bg-dark text-light mt-4">
    <div class="d-flex py-3 align-items-center justify-content-center bg-danger">
        <p class="h5">Minimizing your efforts!!</p>
    </div>
</footer>
</div>
{% block footer %}{% endblock%}
</body>
</html>