{% extends 'base.html' %} {% block content %}
<div class="container text-dark">
  <div class="p-5 justify-content-center">
    <div
      class="p-3 d-flex flex-column border border-danger rounded align-middle"
    >
      <form action="/user/login/" method="post">
        {% csrf_token %}
        <div class="row">
          <div class="form-group col-lg-6">
            <label for="user_id">User Id</label>
            <input
              type="text"
              class="form-control"
              id="user_id"
              placeholder="Mobile Number/Email"
              name="user_id"
            />
          </div>
          <div class="form-group col-lg-6">
            <label for="password">Password</label>
            <input
              type="password"
              class="form-control"
              id="Password"
              placeholder="Password"
              name="password"
            />
          </div>
        </div>
          <button class="btn btn-danger btn-block" type="submit">Login</button>
      </form>
             <a href="/user/register" class="pt-2">Don't have account? Register.</a>
             <a href="/user/password-reset" class="pt-2">Forgot Password?</a>

    </div>
    {% if messages %}
        <div class="alert alert-danger alert-dismissible fade show mt-5" role="alert">
            {% for msg in messages %}
            <strong>{{ msg }}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {% endfor %}
        </div>
    {% endif %}
  </div>
</div>
{% endblock %}