{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}

<div class="container text-dark">
  <div class="p-5 justify-content-center row">
    <div
      class="col-lg-6 p-3 d-flex flex-column border border-danger rounded align-middle"
    >
        {% if not user.is_authenticated %}
      <form method="post">
        {% csrf_token %}
        <div class="p-1">
          <div class="form-group">
            {{ form|crispy }}
          </div>
            <button class="btn btn-danger" type="submit">Send email</button>
        </div>
      </form>
        <a href="/user/login" class="p-1">Or Login</a>
    </div>
        {% else %}
      <script>window.location.replace("/user/login/");</script>
      {% endif %}
  </div>
</div>

{% endblock %}