.profile-img {
  border-radius: 50%;
  width: 30vh;
  height: 30vh;
  object-fit: cover;
  margin: auto;
  display: block;
}

.username {
  display: flex;
  justify-content: space-between;
}

.profile-details {
  margin: auto;
}

.img-text {
  background-color: #dc3545;
  color: white;
  border-radius: 15%;
}
